<div class="container">
  <div class="card" [ngStyle]="setBackgroundImage()">
    <div class="wrapper">
      <div class="bottom-elements" [ngStyle]="setGradient()">
        <div class="person-info">
          <span class="name">{{ card.employee.name }}</span>
          <p class="job-description">{{ card.employee.jobDescription }}</p>
        </div>
        <button class="btn-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4v16m8-8H4"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
