.container {
  width: 30rem;
  height: 45rem;
  overflow: hidden;
  border-radius: 1.2rem;
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative;
}

.card::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(135, 1, 34, 0.2);
}

.container:hover .card:before,
.container:focus .card:before {
  display: block;
}

.container:hover .bottom-elements,
.container:focus .bottom-elements {
  position: absolute;
  bottom: 0;
}

.card:hover,
.card:focus {
  transform: scale(1.1);
  transition: all 0.5s;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.bottom-elements {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 3.2rem;
  display: flex;
}

.person-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.8rem;
  font-weight: 500;
  color: #f1ebf6;
}

.job-description {
  font-size: 1rem;
  font-weight: 100;
  color: #ccc;
}

.btn-icon {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0 0 0.3rem #ccc;
  cursor: pointer;
  transition: all 0.3s;
  svg {
    width: 1.6rem;
  }
}

.btn-icon:hover {
  background-color: #870122;
  color: #ccc;
}
