<div class="plan-card">
  <h1 class="heading">Choose your plan</h1>
  <div class="plans">
    <div
      class="plan"
      *ngFor="let plan of plans; let i = index"
      [ngClass]="{ chosen: i === chosenIndex }"
      (click)="chosenIndex = i"
    >
      <span class="title">{{ plan.title }}</span>
      <span class="size"
        ><span class="size-number">{{ plan.size }}</span> {{ plan.unit }}</span
      >
      <p class="price">{{ plan.price }}{{ plan.validity }}</p>
    </div>
  </div>
  <button class="submit">Submit</button>
</div>
