.plan-card {
  border-radius: 1.8rem;
  box-shadow: 0 0 1.8rem #ddd;
  padding: 6rem 2.8rem;
  display: flex;
  flex-direction: column;
  width: 35rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 4.8rem;
}

.plans {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 6.4rem;
  width: 100%;
}

.plan {
  flex-basis: calc(100% / 3);
  box-shadow: 0 0.2rem 0.4rem 0.2rem #e4e4e4;
  border-radius: 0.6rem;
  transition: all 0.3s;
  padding: 1.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
}

.plan:not(.chosen) {
  cursor: pointer;
}

.plan:not(.chosen):hover {
  transform: scale(0.9);
  background-color: #eee;
}

.size {
  text-transform: uppercase;
}

.size-number {
  font-weight: 900;
  font-size: 2.4rem;
}

.chosen {
  box-shadow: 0 0 0 0.2rem #6488ac;
  background-color: #eff8ff;
}

.submit {
  background-color: #1e76da;
  font-size: 1.4rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.6rem;
  color: #eee;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}

.submit:hover {
  background-color: #478ddd;
  transform: scale(1.05);
}
