<div class="card">
  <header class="header">
    <app-icon-text
      *ngFor="let icon of headerIcons; let i = index"
      [hasLeftLine]="icon.hasLeftLine"
      [leftLineActive]="icon.leftLineActive"
      [isPending]="icon.isPending"
      [isCurrent]="icon.isCurrent"
      [index]="i + 1"
      [hasRightLine]="icon.hasRightLine"
      [rightLineActive]="icon.rightLineActive"
      [heading]="icon.heading"
      (click)="onChangeSection(i)"
    ></app-icon-text>
  </header>
  <ng-container [ngSwitch]="currentSectionIndex">
    <app-cart-section
      *ngSwitchCase="0"
      (payButtonClick)="onChangeSection($event)"
    ></app-cart-section>
    <app-payment-section
      *ngSwitchCase="1"
      [headerIcons]="headerIcons"
      [creditCardIcons]="creditCardIcons"
      (backButtonClick)="onChangeSection($event)"
      (reviewOrderButtonClick)="onChangeSection($event)"
    ></app-payment-section>
    <app-complete-section
      *ngSwitchCase="2"
      (changeSectionIndex)="onChangeSection($event)"
    >
    </app-complete-section>
    <app-verified *ngSwitchCase="3"></app-verified>
  </ng-container>
</div>
