.card {
  border-radius: 1.4rem;
  background-color: #fff;
  padding: 3.2rem 2.6rem 3.6rem;
  width: 35rem;
  height: 52rem;
  box-shadow: 0 0 1.8rem #ccc;
}

.header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  margin-bottom: 1.8rem;
}
