<div class="form-buttons">
  <button
    *ngIf="showBackButton"
    class="btn btn-back"
    type="button"
    (click)="onBackButtonClick()"
  >
    Back
  </button>
  <button
    *ngIf="showPayButton"
    class="btn btn-submit"
    type="button"
    (click)="onPayButtonClick()"
  >
    Pay
  </button>
  <button *ngIf="showReviewOrderButton" class="btn btn-submit" type="submit">
    Review Order
  </button>
  <button
    *ngIf="showCompleteButton"
    class="btn btn-submit"
    type="button"
    (click)="onCompleteButtonClick()"
  >
    Complete
  </button>
</div>
