.input-fields,
.form-buttons {
  display: flex;
  gap: 2rem;
}

.btn {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border-radius: 0.6rem;
  color: #e5e6ea;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-back {
  background-color: #949599;
}

.btn-back:hover {
  background-color: #b8b9be;
}

.btn-submit {
  background-color: #2175d8;
}

.btn-submit:hover {
  background-color: #4c92e2;
}
