<div class="card">
  <div class="card-image">
    <img
      src="../../../assets/img/profile-photo.jpg"
      alt="profile photo of a man"
      class="card-profile-photo"
    />
  </div>
  <div class="personal-info">
    <div class="divider"></div>
    <div class="personal-info-wrapper">
      <span class="name">Juan Dela Cruz</span>
      <p class="location">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="location-marker-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
          />
        </svg>
        <span>Manila, Philippines</span>
      </p>
    </div>
  </div>
  <div class="buttons">
    <button class="btn btn-blue">Follow</button>
    <button class="btn btn-clear">Message</button>
  </div>
  <footer class="footer">
    <div class="followers-label">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="user-icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
        />
      </svg>
      <p>
        <strong>{{ combinedFollowers.length }}</strong>
        Followers you know
      </p>
    </div>
    <div class="followers-images">
      <div
        class="image-tooltip"
        *ngFor="let imageName of allFollowerImages; let i = index"
      >
        <img
          [ngStyle]="{ 'z-index': allFollowerImages.length - (i + 1) }"
          [src]="getFollowerPath(imageName)"
          [alt]="'follower' + imageName"
        />
        <p class="img-tooltip">Follower {{ i + 1 }}</p>
      </div>
      <button class="more-followers" (click)="showMoreFollowers()">
        <span *ngIf="showAllFollowerImages; else plus">-</span>
        <ng-template #plus> <span>+</span> </ng-template>
        <span>{{ moreFollowerImages.length }}</span>
      </button>
    </div>
  </footer>
</div>
