.card {
  width: 35rem;
  box-shadow: 0 0 1rem rgba(85, 85, 85, 0.3);
  border-radius: 1.4rem;
  overflow: hidden;
}

.card-image {
  background: url("../../../assets/img/mountains.jpeg");
  background-size: cover;
  width: 100%;
  height: 16rem;
  position: relative;
}

.card-profile-photo {
  position: absolute;
  bottom: -50%;
  left: 5%;
  transform: translateY(-20%);
  border-radius: 50%;
  padding: 0.4rem;
  background-color: #fff;
}

.personal-info {
  display: flex;
  padding: 0.6rem 2.4rem;
}

.divider {
  flex-basis: 45%;
}

.name {
  font-size: 2rem;
  font-weight: 600;
}

.location {
  font-size: 1.4rem;
  font-weight: 500;
  color: #888;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 1.2rem;
}

.location-marker-icon {
  color: #bfc0c2;
  width: 2rem;
  height: 2rem;
}

.user-icon {
  color: #d1d2d4;
  width: 2.4rem;
  height: 2.4rem;
}

.buttons {
  padding: 0 2.4rem;
  display: flex;
  justify-content: stretch;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.btn {
  flex-basis: 50%;
  padding: 1rem;
  border: none;
  border-radius: 10rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-blue,
.btn-clear:hover,
.more-followers:hover {
  background-color: #4b8ee5;
  color: #fff;
  transition: all 0.3s;
  border: none;
}

.btn-clear,
.btn-blue:hover {
  background-color: transparent;
  color: #666;
  box-shadow: 0 0 0.5rem #d4d8db;
  transition: all 0.3s;
}

.footer {
  border-top: 0.2rem solid rgba(238, 238, 238, 0.5);
  padding: 1.4rem 2rem 2rem;
}

.followers-label {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

.followers-images {
  display: flex;
  position: relative;
  transition: all 0.6s;
}

.image-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  transition: all 0.6s;
}

.image-tooltip img {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: 0.3rem solid #fff;
  margin-right: -1.4rem;
}

.img-tooltip {
  background: rgba(194, 209, 150, 0.5);
  font-size: 1rem;
  font-weight: 600;
  display: none;
  position: absolute;
  right: -7.2rem;
  padding: 0.4rem;
}

.followers-images .image-tooltip:hover {
  transform: translateY(-3.2rem) scale(1.2);
  border: none;
}

.image-tooltip:hover .img-tooltip {
  display: inline;
}

.more-followers {
  width: 3.6rem;
  height: 3.6rem;
  margin-left: auto;
  background-color: #fff;
  border-radius: 50%;
  border: 0.2rem solid #ddd;
  font-weight: 900;
  color: #666;
  font-size: 1.2rem;
  cursor: pointer;
}
