$header-icon-size: 1.4rem;
$inactive: #949599;
$active: #1f76d7;

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
}

.icon-right-line,
.icon-left-line,
.icon-two-lines {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
}

.icon-wrapper {
  background-color: $inactive;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.icon-wrapper:not(.active):hover {
  background-color: #aaa;
}

.check-icon {
  width: $header-icon-size;
}

.blue-line {
  align-self: center;
  width: 100%;
  height: 0.2rem;
  background-color: $inactive;
}

.active {
  background-color: $active;
}

.icon-wrapper span {
  font-size: $header-icon-size;
  font-weight: 600;
  color: #fff;
}

.heading {
  font-size: 1.4rem;
  font-weight: 500;
}
