<div class="icon-text">
  <div
    [ngClass]="{
      'icon-right-line': hasRightLine && !hasLeftLine,
      'icon-two-lines': hasRightLine && hasLeftLine,
      'icon-left-line': !hasRightLine && hasLeftLine
    }"
  >
    <div
      [ngClass]="{
        'blue-line': hasLeftLine,
        active: !isPending || leftLineActive
      }"
    ></div>
    <div class="icon-wrapper" [class.active]="!isPending || isCurrent">
      <span *ngIf="isPending || isCurrent; else isDone">{{ index }}</span>
    </div>
    <div
      class="blue-line"
      [class.active]="!isPending && rightLineActive"
      *ngIf="hasRightLine"
    ></div>
  </div>
  <span class="heading">{{ heading }}</span>
</div>
<ng-template #isDone>
  <img
    src="../../../../assets/img/check-solid.svg"
    alt="check icon"
    class="check-icon"
  />
</ng-template>
