.card {
  padding: 2.4rem;
  box-shadow: 0 0 1rem #ddd;
  border-radius: 2.4rem;
  max-width: 30rem;
  background-color: #fff;
}

.card-label {
  margin-bottom: 3.2rem;
  font-size: 2.8rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-field label {
  font-size: 1.4rem;
  font-weight: 600;
}

.input-field .field {
  position: relative;
}

.input-field .field input {
  font-size: 1.8rem;
  padding: 1.8rem 2.8rem 1.8rem 1.8rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 0 0.2rem #333;
  max-width: 100%;
  text-indent: 0.4rem;
}

.input-field svg {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-number-field {
  margin-bottom: 2.4rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 3.6rem;
}

.total {
  margin-bottom: 0.8rem;
  padding-right: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
}

.total .label {
  font-size: 1rem;
  color: #868e96;
}

.total .price {
  font-size: 1.4rem;
  color: #868e96;
  font-weight: 500;
}

.lock-icon {
  width: 2.8rem;
}

.row .input-field {
  max-width: 50%;
  height: 100%;
}

#expiration-date {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#security-code {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.field .fa-question {
  width: 1.6rem;
  height: 1.6rem;
  right: 1.4rem;
  cursor: pointer;
}

.question-icon-wrapper {
  transition: all 2s;
}

.question-icon-wrapper::before {
  content: "";
  transition: opacity 0.3s;
  position: absolute;
  bottom: 0.4rem;
  right: 2rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
}

.question-icon-wrapper::after {
  content: "Lorem ipsum dolor sit amet adipisicing elit. Adipisci, ullam?";
  transition: opacity 0.3s;
  position: absolute;
  bottom: -7rem;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #eee;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: block;
  width: 12rem;
  opacity: 0;
  visibility: hidden;
}

.question-icon-wrapper:hover::before,
.question-icon-wrapper:hover::after {
  opacity: 1;
  visibility: visible;
}

.pay-button {
  width: 100%;
  padding: 1.6rem;
  border: none;
  border-radius: 1rem;
  background-color: #fc306d;
  color: #fff1ff;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.pay-button:hover,
.pay-button:active {
  background-color: #f56993;
}
