<form class="card">
  <h1 class="card-label">Billing Info</h1>
  <div class="input-field card-number-field">
    <label for="card-number">Card Number</label>
    <div class="field">
      <input
        type="number"
        name="card-number"
        id="card-number"
        appNumberInput
        [limit]="16"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"
        />
      </svg>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
      <label for="expiration-date">Expires</label>
      <div class="field">
        <input
          type="text"
          name="expiration-date"
          id="expiration-date"
          appDateInput
        />
      </div>
    </div>
    <div class="input-field">
      <label for="security-code">Security Code</label>
      <div class="field">
        <input
          type="password"
          name="security-code"
          id="security-code"
          appNumberInput
          [limit]="4"
        />
        <div class="question-icon-wrapper">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="question"
            class="fa-question"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"
          >
            <path
              fill="currentColor"
              d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="total">
    <span class="label">Total:</span>
    <span class="price">{{ 59.99 | currency }}</span>
  </div>
  <button type="button" class="pay-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="lock-icon"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
      />
    </svg>
    Pay
  </button>
</form>
