<div class="cart">
  <app-games-list
    [games]="games"
    (gamesSelectedEmit)="onSelectGames($event)"
  ></app-games-list>
  <app-buttons
    [showPayButton]="true"
    (payButtonClick)="onPayButtonClick()"
  ></app-buttons>
</div>
