$primary-color: #2e3748;
$game-card-radius: 1rem;

.phone-card {
  border: 1.4rem solid $primary-color;
  width: 32rem;
  border-radius: 5rem;
  color: $primary-color;
  padding: 0 0 4.8rem;
}

.phone-card-top {
  width: 60%;
  height: 2rem;
  background-color: $primary-color;
  margin: -0.1rem auto 3.6rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.phone-card-body {
  padding: 0 2rem;
}

.select-label {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.game-list {
  list-style: none;
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 28rem;
  overflow-y: scroll;
  padding: 1.2rem;
}

.game-card:not(.is-chosen) {
  transition: all 0.3s;
  cursor: pointer;
}

.game-card:not(.is-chosen):hover {
  transform: scale(0.9);
}

.game-wrapper {
  display: flex;
  border: 0.1rem solid #d2d2d4;
  border-radius: $game-card-radius;
  overflow: hidden;
  margin: 0.2rem;
}

.game-card img {
  width: 40%;
}

.game-title {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.is-chosen {
  box-shadow: 0 0 0 0.3rem #3071c3;
  border-radius: $game-card-radius;
}

.buttons {
  display: flex;
  gap: 1.2rem;
}

.btn {
  padding: 1rem 0;
  border: none;
  border-radius: 0.8rem;
  font-weight: 100;
  flex-basis: 50%;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-cancel {
  background-color: #f3f4f6;
  color: #5e6367;
}

.btn-cancel:hover {
  background-color: #f03e3e;
  color: #f3feff;
  transform: scale(0.9);
}

.btn-download {
  background-color: #2474d5;
  color: #f3feff;
}

.btn-download:hover {
  background-color: #339af0;
  transform: scale(0.9);
}
