<div class="phone-card">
  <div class="phone-card-top"></div>
  <div class="phone-card-body">
    <h1 class="select-label">Select Game</h1>
    <ul class="game-list">
      <li
        *ngFor="let game of games; let i = index"
        (click)="chosenIndex = i"
        [ngClass]="{ 'is-chosen': chosenIndex === i }"
        class="game-card"
      >
        <div class="game-wrapper">
          <img
            [src]="'../../../assets/img/game-covers/' + game.imageName"
            [alt]="'photo of ' + game.imageName"
          />
          <div class="game-title">
            <p>{{ game.title }}</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="buttons">
      <button class="btn btn-cancel">Cancel</button>
      <button class="btn btn-download">Download</button>
    </div>
  </div>
</div>
