<div class="card">
  <img
    class="card-image"
    [src]="getImagePath()"
    alt="a woman wearing blue hoodie"
    width="auto"
    height="auto"
    *ngIf="showImage"
  />
  <p class="item">Dune Hoodie Women</p>
  <p class="price">₱ {{ 999.75 | number: "1.2" }}</p>
  <div class="colors">
    <div class="btn-wrapper" [ngClass]="{ active: activeColor === 'red' }">
      <button class="btn-circle red" (click)="changeImage('red')"></button>
    </div>
    <div class="btn-wrapper" [ngClass]="{ active: activeColor === 'blue' }">
      <button class="btn-circle blue" (click)="changeImage('blue')"></button>
    </div>
    <div class="btn-wrapper" [ngClass]="{ active: activeColor === 'green' }">
      <button class="btn-circle green" (click)="changeImage('green')"></button>
    </div>
  </div>
</div>
