$default-radius: 2rem;
$circled-radius: 50%;

.card {
  width: 30rem;
  box-shadow: 0 0 1rem #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-radius: $default-radius;
}

.card-image {
  width: 100%;
  border-radius: $default-radius;
  margin-bottom: 1.6rem;
  transition: all 0.3s;
}

.card-image:hover {
  transform: scale(1.05);
}

.item {
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: 600;
}

.price {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: #a2a2a2;
  letter-spacing: 0.1rem;
}

.colors {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.btn-circle {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: $circled-radius;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-wrapper {
  padding: 1.2rem 0;
}

.btn-wrapper:not(.active) .btn-circle:hover {
  transform: translateY(1.2rem);
}

.active {
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: $circled-radius;
  transition: border 0.3s;
}

.red {
  background-color: #b59d9e;
}

.green {
  background-color: #98b69c;
}

.blue {
  background-color: #a1a3c0;
}
