<section class="container">
  <div>
    <img
      src="../../../assets/img/movies/spiderman.jpg"
      alt="spiderman poster"
      class="container__image"
    />
  </div>
  <div class="container__details">
    <div class="container__details__top">
      <div><div class="right-arrow"></div></div>
      <div class="container__details__top__watch-duration">
        <h4 class="container__details__watch">Watch Now</h4>
        <p class="container__details__duration">2h 28m</p>
      </div>
    </div>
    <div class="container__details__heading">
      <div class="container__details__title">
        <h2 class="container__details__title__main">Spider-Man:</h2>
        <h3 class="container__details__title__sub">No Way Home</h3>
      </div>
      <div class="container__details__icons">
        <app-icon-text icon="plus">Watchlist</app-icon-text>
        <app-icon-text icon="download">Download</app-icon-text>
      </div>
    </div>
    <h1 class="container__details__purchase">Purchase Movies</h1>
    <div class="container__details__posters">
      <app-poster
        *ngFor="let poster of posters; let i = index"
        [poster]="poster"
        [index]="i"
      ></app-poster>
    </div>
  </div>
</section>
