.container {
  max-width: 30rem;
  height: 65rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;

  &__image {
    height: 100%;
    width: 100%;
  }

  $arrow-side-size: 0.8rem;
  $arrow-base-size: 1.2rem;

  @mixin arrow($color: #fff) {
    border-top: $arrow-side-size solid transparent;
    border-bottom: $arrow-side-size solid transparent;
    border-left: $arrow-base-size solid $color;
  }

  .right-arrow {
    @include arrow;
    transition: 0.3s;
  }

  &__details {
    background: linear-gradient(transparent 0, rgb(0, 0, 0) 10%);
    color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 52%;
    padding: 1.4rem 2rem 2rem;
    text-transform: uppercase;

    $section-margin: 2.4rem;
    $hover-color: #cccccc;

    &__top {
      display: inline-flex;
      align-items: center;
      gap: 1.6rem;
      margin-bottom: $section-margin;
      cursor: pointer;

      &:hover .right-arrow {
        @include arrow($hover-color);
      }

      &:hover &__watch-duration {
        color: $hover-color;
      }
    }

    &__watch {
      font-size: 1.4rem;
      font-weight: 400;
      text-decoration: underline;
      margin-bottom: 0.2rem;
    }

    &__duration {
      text-transform: lowercase;
    }

    &__heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: $section-margin;
    }

    &__title {
      &__main {
        font-size: 2rem;
        font-weight: 500;
      }

      &__sub {
        font-size: 1rem;
        font-weight: 500;
        color: #adadad;
      }
    }

    &__icons {
      display: flex;
      gap: 1.6rem;
    }

    &__purchase {
      font-size: 1.8rem;
      font-weight: 700;
      color: #a00000;
      margin-bottom: 1.2rem;
    }

    &__posters {
      display: flex;
      justify-content: space-between;
    }
  }
}
