<div class="container">
  <app-employee-card></app-employee-card>
  <app-login-card></app-login-card>
  <app-profile-card></app-profile-card>
  <app-tshirt-card></app-tshirt-card>
  <app-plan-card></app-plan-card>
  <app-delete-account-card></app-delete-account-card>
  <app-game-pick></app-game-pick>
  <app-country-picker></app-country-picker>
  <app-billing-card></app-billing-card>
  <app-payment-card></app-payment-card>
  <app-movie-card></app-movie-card>
</div>
