.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  gap: 3.2rem 0;
  justify-items: center;
  align-items: center;
  margin: 4.8rem 4.8rem 10.8rem;
}

.container > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 45em) {
  .container {
    row-gap: 3.2rem;
    margin-inline: auto;
  }
}
