.button {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;

  $hover-color: #cccccc;

  &:hover {
    color: $hover-color;
  }

  &:hover .icon {
    stroke: $hover-color;
  }
}

.icon {
  width: 2rem;
  transition: color 0.3s;
}
