<div class="container">
  <div class="input-field">
    <img
      class="input-icon globe-solid"
      src="../../../assets/img/flags/globe-solid.svg"
      alt="globe solid icon"
      (click)="toggleShowDropdown()"
    />
    <input
      class="search-field"
      type="text"
      name=""
      id=""
      placeholder="Country"
      (focus)="showDropdown = true"
      (focusout)="showDropdown = false"
      [(ngModel)]="pickedCountry"
      (keyup)="pickedCountryChanged()"
    />
    <img
      src="../../../assets/img/caret-down-solid.svg"
      alt="caret down icon"
      class="input-icon caret-down"
      [ngClass]="{ 'show-caret-down-icon': !showDropdown }"
      (click)="toggleShowDropdown()"
    />
    <img
      src="../../../assets/img/caret-up-solid.svg"
      alt="caret up icon"
      class="input-icon caret-up"
      [ngClass]="{ 'show-caret-up-icon': showDropdown }"
      (click)="toggleShowDropdown()"
    />
    <ul
      class="countries-wrapper"
      [ngClass]="{ 'show-countries-wrapper': showDropdown }"
    >
      <li
        *ngFor="let country of countries; let i = index"
        class="country"
        (click)="choose(i)"
        [ngClass]="{ chosen: chosenIndex === i }"
      >
        <img
          [src]="'../../../assets/img/flags/' + country.value + '.svg'"
          [alt]="'image icon of ' + country.label"
          class="country-image"
        />
        <span class="label">{{ country.label }}</span>
      </li>
    </ul>
  </div>
</div>
