$countries-wrapper-height: 15rem;

.container {
  margin-bottom: $countries-wrapper-height;
}

.input-field {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: #fff;
  position: relative;
  width: 30rem;
}

.input-icon {
  position: absolute;
  cursor: pointer;
}

.globe-solid {
  left: 1.6rem;
}

.caret-up,
.caret-down {
  width: 1.6rem;
  transition: transform 0.3s ease-in-out;
  visibility: hidden;
}

.show-caret-down-icon {
  transform: rotate(180deg);
  visibility: visible;
}

.show-caret-up-icon {
  transform: rotate(-180deg);
  visibility: visible;
}

.caret-down,
.caret-up {
  right: 1.6rem;
}

.globe-solid,
.country-image {
  width: 2.4rem;
}

.search-field {
  padding: 1.8rem 4.8rem;
  border: none;
  font-size: 1.6rem;
  width: 100%;
  border-top-right-radius: 1.6rem;
  border-top-left-radius: 1.6rem;
}

.search-field:focus {
  outline: none;
}

.countries-wrapper {
  border-top: 1px solid #eee;
  background-color: #fff;
  border-bottom-right-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  transition: visibility 0.2s, opacity 0.2s ease-out;
  visibility: hidden;
  opacity: 0;
  height: $countries-wrapper-height;
  overflow-y: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.show-countries-wrapper {
  opacity: 1;
  visibility: visible;
}

.country {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
  padding: 1.2rem 1.6rem;
  transition: all 0.3s;
}

.country:hover {
  background-color: #eee;
}

.chosen {
  background-color: #ddd;
}

.label {
  font-size: 1.3rem;
}
