// @use "../game-pick/game-pick.component" as gamepick;
$primary-color: #2e3748;

.phone-card {
  border: 1.4rem solid $primary-color;
  width: 35rem;
  border-radius: 5rem;
  color: $primary-color;
  padding: 4.8rem 0 4.8rem;
  position: relative;
}

.phone-card-top {
  width: 55%;
  height: 2rem;
  background-color: $primary-color;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  z-index: 2;
  position: absolute;
  top: -0.1rem;
  left: 50%;
  transform: translateX(-50%);
}

.phone-card-body {
  padding: 0 2.8rem;
}

.main-heading {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.secondary-heading {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.hint {
  font-size: 1.2rem;
  margin-bottom: 3.6rem;
  color: #868e96;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input-field label {
  font-size: 1.3rem;
  font-weight: 600;
}

.input-field input,
.input-field select {
  padding: 1.2rem;
  border: none;
  box-shadow: 0 0 0 0.2rem #eee;
  border-radius: 0.6rem;
}

.btn {
  padding: 1.2rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.body-btn-delete {
  background-color: #e9ecef;
}

.body-btn-delete:hover {
  background-color: #ced4da;
}

.btn-delete,
.btn-cancel {
  text-transform: capitalize;
}

.backdrop {
  bottom: 0;
  right: 0;
  background-color: #66666666;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  border-radius: 3.5rem;
}

.delete-modal {
  bottom: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 95%;
  padding: 1.2rem;
  border-radius: 2.8rem;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.backdrop,
.delete-modal {
  position: absolute;
  transition: visibility 0.2s, opacity 0.2s ease-out;
  visibility: hidden;
  opacity: 0;
  display: flex;
}

.show-delete-modal,
.show-backdrop {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.icon-wrapper {
  margin-bottom: 1.8rem;
  position: relative;
}

.fa-user {
  width: 4.8rem;
  color: #b3b8bc;
}

.warning-icon {
  position: absolute;
  color: #c1717e;
  bottom: -1.2rem;
  right: -1.4rem;
  width: 3.2rem;
}

.modal-heading {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.modal-hint {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2.8rem;
  text-align: center;
  padding: 0 2.4rem;
  color: #8f9095;
}

.action-buttons {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-btn-delete {
  color: #845156;
  font-weight: 700;
  background-color: #fdd6d7;
}

.modal-btn-cancel {
  color: #575c62;
  background-color: #edf2f6;
}

.modal-btn-delete:hover {
  background-color: #f79c9f;
}

.modal-btn-cancel:hover {
  background-color: #c6cbcf;
}
