<div class="phone-card">
  <div class="phone-card-top"></div>
  <div class="phone-card-body">
    <h1 class="main-heading">Account Settings</h1>
    <h2 class="secondary-heading">Basic Information</h2>
    <p class="hint">
      Set your login preferences, hep us personalize your experience and make
      big account changes here.
    </p>
    <div class="input-fields">
      <div class="input-field">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="input-field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="input-field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="input-field">
        <label for="password">Language</label>
        <select name="password" id="password">
          <option value="english">English</option>
          <option value="filipino">Filipino</option>
          <option value="spanish">Spanish</option>
        </select>
      </div>
    </div>
    <button class="btn body-btn-delete" (click)="showModal = true">
      delete account
    </button>
    <div
      class="backdrop"
      [ngClass]="{ 'show-backdrop': showModal }"
      (click)="showModal = false"
    ></div>
    <div class="delete-modal" [ngClass]="{ 'show-delete-modal': showModal }">
      <div class="icon-wrapper">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="far"
          data-icon="user"
          class="svg-inline--fa fa-user fa-w-14"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"
          ></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="warning-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
          />
        </svg>
      </div>
      <h1 class="modal-heading">Delete your account</h1>
      <p class="modal-hint">
        You will lost all of your data by deleting your account. This action
        cannot be undone.
      </p>
      <div class="action-buttons">
        <button class="btn modal-btn-delete" (click)="showModal = false">
          delete account
        </button>
        <button class="btn modal-btn-cancel" (click)="showModal = false">
          cancel
        </button>
      </div>
    </div>
  </div>
</div>
