.movie-poster {
  height: 11rem;
  display: inline-flex;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: translateY(-5rem) scale(2.5) var(--translateX);
  }
}
