<div class="grid">
  <button
    class="square-button"
    *ngFor="let square of squares; let i = index"
    (click)="occupySquare(i)"
  >
    <span class="x-o">{{ isOccupied(i) }}</span>
  </button>
</div>

<div class="modal" *ngIf="gameEnded">
  <div class="modal-content">
    <p>Game ended, {{ winner }} WINS</p>
    <button class="btn-play-again" (click)="restartGame()">play again</button>
  </div>
</div>
