.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: display 1s;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 0.1rem solid #888;
  width: 30rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2rem;
  font-size: 2rem;
}

button {
  cursor: pointer;
}

.square-button {
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 0.1rem #000;
  cursor: pointer;
}

.x-o {
  font-size: 10rem;
}

.square-button:hover {
  background-color: #ddd;
}

.btn-play-again {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  background-color: rgb(4, 158, 94);
  border-radius: 1rem;
  border: none;
  align-self: stretch;
}

.btn-play-again:hover {
  background-color: rgb(55, 192, 135);
}
