<ng-container *ngIf="!selectedGames.length; else games">
  <h2>Select games in your cart first!</h2>
</ng-container>

<ng-template #games>
  <app-games-list
    [games]="selectedGames"
    [showCheckbox]="false"
    [showTotals]="true"
    [showTotalsCheckbox]="false"
  ></app-games-list>
  <app-buttons
    *ngIf="selectedGames.length"
    [showBackButton]="true"
    [showCompleteButton]="true"
    (backButtonClick)="onBackButtonClick()"
    (completeButtonClick)="onCompleteButtonClick()"
  ></app-buttons>
</ng-template>
