<div class="credit-cards">
  <span class="label">Credit Cards</span>
  <div class="icons">
    <img
      *ngFor="let icon of creditCardIcons"
      [src]="'../../../assets/img/credit-cards/' + icon"
      [alt]="'icon of' + icon"
      class="credit-card-icon"
    />
  </div>
</div>
<form class="form" [formGroup]="paymentForm" (ngSubmit)="onPaymentFormSubmit()">
  <div class="form-fields">
    <div class="input-field">
      <label for="name">Cardholder's Name</label>
      <input type="text" name="name" id="name" placeholder="John Doe" />
    </div>
    <div class="input-field">
      <label for="card-number">Card Number</label>
      <input
        type="text"
        name="card-number"
        id="card-number"
        placeholder="5105105105105100"
      />
    </div>
    <div class="input-fields">
      <div class="input-field">
        <label for="valid-through">Valid Through</label>
        <input
          type="text"
          name="valid-through"
          id="valid-through"
          placeholder="MM/YY"
        />
      </div>
      <div class="input-field">
        <label for="security-code">Security Code</label>
        <input
          type="password"
          name="security-code"
          id="security-code"
          placeholder="***"
        />
      </div>
    </div>
  </div>
  <app-buttons
    [showBackButton]="true"
    [showReviewOrderButton]="true"
    (backButtonClick)="onBackButtonClick()"
  ></app-buttons>
</form>
