$header-icon-size: 1.4rem;
$inactive: #949599;
$active: #1f76d7;

.credit-cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

.credit-cards .label {
  font-size: 1.6rem;
  font-weight: 500;
}

.credit-cards .icons {
  display: flex;
  gap: 0.6rem;
}

.credit-card-icon {
  width: 2.4rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 2.8rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.input-field label {
  font-size: 1.4rem;
  font-weight: 500;
}

.input-field input {
  border-radius: 0.6rem;
  padding: 1.2rem;
  border: none;
  box-shadow: 0 0 0 0.1rem #666;
  font-size: 1.5rem;
}

.input-field input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #333;
}

.input-fields {
  display: flex;
  gap: 2rem;
}

.input-fields input {
  width: 100%;
}
