.card {
  border-radius: 1rem;
  padding: 2.4rem 1.6rem 3.6rem;
  box-shadow: 0 0 0.6rem #c3d7ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  background-color: #fff;
}

.heading {
  margin-bottom: 0.6rem;
  color: #103649;
  font-size: 2.4rem;
  font-weight: 600;
}

.subheading {
  color: #4b4b4b;
  margin-bottom: 2.4rem;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.subheading::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #ddd;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  transition: 0.3s;
}

.subheading:hover::after {
  width: 100%;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-self: stretch;
  margin-bottom: 2.4rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.input-field label {
  text-transform: capitalize;
  font-weight: 200;
  color: #000;
  font-size: 1.1rem;
}

.input-field input {
  border-radius: 0.4rem;
  border: none;
  padding: 1rem;
  box-shadow: 0 0 0 0.2rem #eee;
}

.input-field input:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem #ddd;
}

.login-button {
  align-self: stretch;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: #0080ff;
  padding: 1.3rem;
  border: none;
  color: #d4ffff;
  margin-bottom: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 600;
}

.login-button:active,
.login-button:hover {
  background-color: #42a1ff;
}

.divider {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-line,
.right-line {
  width: 46%;
  border-top: 0.1px solid #e3e3e3;
}

.social-buttons {
  align-self: stretch;
  display: flex;
  gap: 1.6rem;
}

.social-buttons a:link {
  box-shadow: 0 0 0.1rem 0.13rem #e3e3e3;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.social-buttons a svg {
  width: 25%;
}

.social-buttons a:hover,
.social-buttons a:active {
  background-color: #eee;
}
