.cart-label {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.items {
  height: 26rem;
  overflow-y: auto;
  margin-bottom: 1.4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.longer-height {
  height: 27.5rem;
}

.item {
  display: grid;
  grid-template-columns: 1.2fr 4fr 4.8fr;
  align-items: center;
}

.grid-columns-without-checkbox {
  grid-template-columns: 5.5fr 4.5fr;
}

.item input,
.totals input {
  transform: scale(1.3);
  margin-inline: auto;
  cursor: pointer;
}

.item-image {
  width: 100%;
  border-radius: 0.4rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 1rem;
}

.text-wrapper-without-checkbox {
  justify-content: flex-start;
}

.item-name {
  font-size: 1.8rem;
  font-weight: 600;
}

.item-description {
  font-size: 1.2rem;
  font-weight: 500;
}

.item-price {
  font-size: 1.1rem;
  font-weight: 500;
  color: #999;
}

.totals {
  display: grid;
  grid-template-columns: 1.2fr 4fr 4.8fr;
  margin-bottom: 2rem;
  align-items: center;
}

.totals-no-checkbox {
  grid-template-columns: 1fr 1fr;
}

.games-total {
  font-weight: 500;
  font-size: 1.2rem;
}

.pay-total {
  font-size: 1.6rem;
  margin-left: auto;
  padding-right: 1.2rem;
}

.pay-total .price {
  font-weight: 600;
}
