<ng-container *ngIf="showGamesList && games.length">
  <span class="cart-label">Your Games</span>
  <form class="form" [formGroup]="gamesOnCartForm">
    <ul
      class="items"
      formArrayName="gamesOnCart"
      [ngClass]="{ 'longer-height': !showCheckbox }"
    >
      <li
        class="item"
        *ngFor="let game of gamesOnCart.controls; let i = index"
        [ngClass]="{ 'grid-columns-without-checkbox': !showCheckbox }"
      >
        <ng-container [formGroup]="getGameAsFormGroup(i)">
          <input
            *ngIf="showCheckbox"
            type="checkbox"
            name="checkbox"
            id="checkbox"
            formControlName="isSelected"
            (change)="onSelectChange()"
          />
          <img
            [src]="'../../../../assets/img/game-covers/' + game.value.imageName"
            [alt]="'game icon of ' + game.value.title"
            class="item-image"
            (click)="onSelectClick(i, game)"
            [ngStyle]="{ cursor: showCheckbox ? 'pointer' : 'default' }"
          />
          <div
            class="text-wrapper"
            [ngClass]="{ 'text-wrapper-without-checkbox': !showCheckbox }"
          >
            <span class="item-name">{{ game.value.title }}</span>
            <p class="item-description" [ngStyle]="{ color: game.value.color }">
              {{ game.value.description }}
            </p>
            <span class="item-price">{{ game.value.price | currency }}</span>
          </div>
        </ng-container>
      </li>
    </ul>
  </form>
  <div
    *ngIf="showTotals"
    class="totals"
    [ngClass]="{ 'totals-no-checkbox': !showTotalsCheckbox }"
  >
    <input
      *ngIf="showTotalsCheckbox"
      type="checkbox"
      name=""
      id=""
      (change)="onToggleSelectAll()"
      [checked]="toggleSelectAll"
    />
    <span class="games-total">{{ totalGamesSelected }} Selected</span>
    <div class="pay-total">
      <span class="cart-label">Total:</span>
      <span class="price">
        {{ totalPrice | currency }}
      </span>
    </div>
  </div>
</ng-container>
